* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
}

.row {
    width: 100%;
    padding: 50px 100px;

}

.image-section {
    width: 30%;
    float: left;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content {
    width: 60%;
    float: left;
    margin-left: 50px;
}

.content h1 {
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #222;

}

.content h2 {
    font-size: 40px;
    /*font family*/
    color: #b60112;
    margin-top: 25px;
}

.content p{
    font-size: 20px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    
    .image-section {
        width: 100%;
        float: none;
    }

    
.content {
    width: 100%;
    float: none;
    margin-left: 0px;
}



}
